# .htaccess
.htaccess

# Composer
vendor/
composer.lock

# PHPStorm
.idea/

# Cache
var/cache/
var/log/
var/config/config.php

# Custom templates
app/views/layouts/custom.volt
app/views/posts/custom.index.volt
app/views/posts/custom.view.volt
