---
layout: default
---

                <!-- begin post-list -->
                <ul class="post-list">
{% for post in paginator.posts %}
{% assign num_words = post.content | strip_html | number_of_words %}
{% assign minutes   = num_words    | divided_by: 200 %}
{% assign minutes   = num_words    | divided_by: 200.0 %}
{% assign minutes_f = num_words    | divided_by: 200.0 %}
{% assign minutes_i = num_words    | divided_by: 200 %}
{% assign diff      = minutes_f    | minus: minutes_i %}
{% if diff >= 0.5 %}
{% assign minutes = minutes_i | plus: 1 %}
{% else %}
{% assign minutes = minutes_i %}
{% endif %}

{% if minutes <= 1 %}
{% assign reading_time = '1' | append: ' minute' %}
{% else %}
{% assign reading_time = minutes | append: ' minutes' %}
{% endif %}
                    <li>
                        <!-- begin post-left-info -->
                        <div class="post-left-info">
                            <div class="post-date">
                                <span class="day">{{ post.date | date: "%d" }}</span>
                                <span class="month">{{ post.date | date: "%b" }}</span>
                            </div>
                            <div class="post-likes">
                                <span class="year">{{ post.date | date: "%Y" }}</span>
                            </div>
                        </div>
                        <!-- end post-left-info -->
                        <!-- begin post-content -->
                        <div class="post-content">
                            {% if page.image %}
                            <!-- begin post-image -->
                            <div class="post-image">
                                <a href="{{ post.url }}">
                                    <div class="post-image-cover"
                                         style="background-image: url({{ page.image }})"></div>
                                </a>
                            </div>
                            <!-- end post-image -->
                            {% endif %}

                            <!-- begin post-info -->
                            <div class="post-info">
                                <h4 class="post-title">
                                    <a href="{{ post.url }}">{{ post.title | strip }}</a>
                                </h4>
                                <div class="post-by mb-3px">
                                    {{ reading_time }} &bull; {{ post.date | date: "%Y-%m-%d" }}
                                    <span class="divider">|</span>
                                    {% for tag in post.tags %}<a href="/tag/{{ tag | slugify }}" class="badge bg-success">{{ tag }}</a>&nbsp;{% endfor %}
                                </div>
                                <div class="post-desc">
                                    {{ post.excerpt }}
                                </div>
                            </div>
                            <!-- end post-info -->
                            <!-- begin read-btn-container -->
                            <div class="read-btn-container">
                                <a href="{{ post.url }}">Read More <i class="fa fa-angle-double-right"></i></a>
                            </div>
                            <!-- end read-btn-container -->
                        </div>
                        <!-- end post-content -->
                    </li>
                    {% endfor %}
                </ul>
                <!-- end post-list -->

                <!-- begin pagination -->
                <div class="section-container">
                    <div class="pagination-container">
                        <ul class="pagination justify-content-center">

                            <li class="page-item{% unless paginator.previous_page %} disabled{% endunless %}">
                                <a class="badge bg-success"
                                   href="{{ paginator.previous_page_path }}{% unless paginator.previous_page %}#{% endunless %}">
                                    <i class="fa fa-arrow-circle-left"></i>
                                </a>
                            </li>
                            <li class="page-item{% unless paginator.next_page %} disabled{% endunless %}">
                                <a class="badge bg-success"
                                   href="{{ paginator.next_page_path }}{% unless paginator.next_page %}#{% endunless %}">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end pagination -->
