.post-image{border:none;clear:right;float:right;margin-bottom:1em;margin-left:1em;height:auto;width:auto;max-width:150px;max-height:150px;}
blockquote{font-size:14px;background-color:#e1e1e1;}
h3, h4{border-bottom:1px solid #c0c0c0;}