                    <div class="card card-profile mb-4">
                        <div class="card-header"
                             style="background-image: url(/assets/other/images/background.png);"></div>
                        <div class="card-body text-center">
                            <a href="/about">
                                <img class="card-profile-img"
                                     src="/assets/other/images/avatar.png"
                                     alt="Nikolaos Dimopoulos"
                                     loading="lazy">
                            </a>

                            <h6 class="card-title">
                                <a class="text-inherit" href="/about">
                                    Nikolaos Dimopoulos
                                </a>
                            </h6>

                            <p class="mb-4">
                                Boldly goes where no other coder has gone
                                before.... and other ramblings
                            </p>
                        </div>
                    </div>
