
                    <div class="panel panel-default panel-profile m-b-md">
                        <div class="panel-heading"
                             style="background-image: url({{ site.baseurl }}/assets/images/background.png);"></div>
                        <div class="panel-body text-center">
                            <a href="{{ site.baseurl }}/about">
                                <img class="panel-profile-img"
                                     src="{{ site.baseurl }}/assets/images/avatar.png">
                            </a>

                            <h5 class="panel-title">
                                <a class="text-inherit" href="{{ site.baseurl }}/about">
                                    Nikolaos Dimopoulos
                                </a>
                            </h5>

                            <p class="m-b-md">
                                Boldly goes where no other coder has gone
                                before.... and other ramblings
                            </p>
                        </div>
                    </div>
