                    <!-- begin section-container -->
                    <div class="section-container">
                        <h4 class="section-title ">
                            <a href="/about">
                                <div class="menu-profile-image">
                                    <img class="card-img"
                                         src="/assets/other/images/avatar.png"
                                         alt="Nikolaos Dimopoulos">
                                </div>
                                <div class="menu-profile-info">
                                    Nikolaos Dimopoulos
                                </div>
                            </a>
                        </h4>
                        <div class="sidebar-open">
                            Boldly goes where no other coder has gone
                            before.... and other ramblings
                        </div>
                    </div>
                    <!-- end section-container -->


                    <!-- BEGIN profile -->
                    <div class="profile">
                        <div class="profile-header">
                            <!-- BEGIN profile-header-cover -->
                            <div class="profile-header-cover"></div>
                            <!-- END profile-header-cover -->
                            <!-- BEGIN profile-header-content -->
                            <div class="profile-header-content">
                                <!-- BEGIN profile-header-img -->
                                <div class="profile-header-img">
                                    <img src="../assets/img/user/user-13.jpg" alt="" />
                                </div>
                                <!-- END profile-header-img -->
                                <!-- BEGIN profile-header-info -->
                                <div class="profile-header-info">
                                    <h4 class="mt-0 mb-1">Sean Ngu</h4>
                                    <p class="mb-2">UXUI + Frontend Developer</p>
                                    <a href="#" class="btn btn-xs btn-yellow">Edit Profile</a>
                                </div>
                                <!-- END profile-header-info -->
                            </div>
                            <!-- END profile-header-content -->
                            <!-- BEGIN profile-header-tab -->
                            <ul class="profile-header-tab nav nav-tabs">
                                <li class="nav-item"><a href="#profile-post" class="nav-link active" data-bs-toggle="tab">POSTS</a></li>
                                <li class="nav-item"><a href="#profile-about" class="nav-link" data-bs-toggle="tab">ABOUT</a></li>
                                <li class="nav-item"><a href="#profile-photos" class="nav-link" data-bs-toggle="tab">PHOTOS</a></li>
                                <li class="nav-item"><a href="#profile-videos" class="nav-link" data-bs-toggle="tab">VIDEOS</a></li>
                                <li class="nav-item"><a href="#profile-friends" class="nav-link" data-bs-toggle="tab">FRIENDS</a></li>
                            </ul>
                            <!-- END profile-header-tab -->
                        </div>
                    </div>
                    <!-- END profile -->
