                <!-- begin section-container -->
                <div class="section-container">
                    <ul class="sidebar-recent-post">
                        <li>
                            <h4 class="title">
                                Nikolaos Dimopoulos
                            </h4>
                            <div class="date">
                                Boldly goes where no other coder has gone before....
                                and other ramblings
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end section-container -->
