---
layout: default
---
{% if page.type == "tag" %}
    {% assign title = "Tag: " | append: page.title %}
{% elsif page.type == "category" %}
    {% assign title = "Category: " | append: page.title %}
{% else %}
    {% assign title = "Archive: Posts for " %}
    {% if page.type == "year" %}
        {% assign title = page.date | date: "%Y" | prepend: title %}
    {% elsif page.type == "month" %}
        {% assign title =  page.date | date: "%B %Y" | prepend: title %}
    {% endif %}
{% endif %}

                <!-- begin section-container -->
                <div class="section-container">
                    <h3 class="about-me-title">
                        <a href="{{ page.url }}">
                            {{ title }}
                        </a>
                    </h3>
                    <ul class="sidebar-recent-post">
                        {% for post in page.posts %}
                        <li>
                            <h4 class="title">
                                <a href="{{ post.url }}">
                                    {{ post.title }}
                                </a>
                            </h4>
                            <div class="date">{{ post.date | date: "%b %-d, %Y" }}</div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- end section-container -->
