<!DOCTYPE html>
<html lang="en" class="dark-mode">
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
</head>

<body>
{% include header.html %}

<!-- begin #content -->
<div id="content" class="content">
    <!-- begin container -->
    <div class="container">
        <!-- begin row -->
        <div class="row row-space-30">
            <!-- begin col-9 -->
            <div class="col-lg-9">
                {{ content }}
            </div>
            <!-- end col-9 -->

            <!-- begin col-3 -->
            <div class="col-lg-3">
                {% include widgets/profile.html %}
                {% include widgets/recent.html %}
                {% include widgets/tag-cloud.html %}
                {% include widgets/archives.html %}
            </div>
            <!-- end col-3 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end #content -->

{% include footer-copyright.html %}

<!-- ================== BEGIN core-js ================== -->
<script src="/assets/js/blog/vendor.min.js"></script>
<script src="/assets/js/blog/app.min.js"></script>
<!-- ================== END core-js ================== -->

<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>
</body>
</html>
