---
layout: default
---
{% assign num_words = page.content | strip_html | number_of_words %}
{% assign minutes   = num_words    | divided_by: 200 %}
{% assign minutes   = num_words    | divided_by: 200.0 %}
{% assign minutes_f = num_words    | divided_by: 200.0 %}
{% assign minutes_i = num_words    | divided_by: 200 %}
{% assign diff      = minutes_f    | minus: minutes_i %}
{% if diff >= 0.5 %}
{% assign minutes = minutes_i | plus: 1 %}
{% else %}
{% assign minutes = minutes_i %}
{% endif %}

{% if minutes <= 1 %}
{% assign reading_time = '1' | append: ' minute' %}
{% else %}
{% assign reading_time = minutes | append: ' minutes' %}
{% endif %}

                        <ul class="list-group media-list media-list-stream mb-4">
                            <li class="media list-group-item p-4">
                                {% if page.image %}
                                <img class="media-object d-flex align-self-start mr-3"
                                     src="{{ page.image }}"
                                     alt="{{ page.image-alt | default: '' }}" />
                                {% endif %}
                                <div class="media-body">
                                    <div class="media-heading">
                                        <small class="float-right text-muted">
                                            {{ reading_time }} &bull; {{ page.date | date: "%Y-%m-%d" }}
                                        </small>
                                        <h6>
                                            <a href="{{ page.url }}">{{ page.title }}</a>
                                        </h6>
                                    </div>
                                    <div>
                                        {{ page.content }}
                                    </div>
                                    <div class="media-body-actions">
                                        {% for tag in page.tags %}
                                        <button class="btn btn-primary-outline btn-sm">
                                            {{ tag }}
                                        </button>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        </ul>
